---
// Layouts
import MainLayout from "../layouts/MainLayout.astro";
// Components
import Link from "../components/Link.astro";
// Enumerations
import { SideEnum, StyleEnum } from "../enums/styles.enum";
// Translations
import { translations } from "../translations/blog.translations";
---

<MainLayout title="Page Not Found">
  <div
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }}
  >
    <div>
      <h1 class="h1">{translations.ERROR_404.TITLE}</h1>
      <p>{translations.ERROR_404.DESCRIPTION}</p>
    </div>
    <Link
      href="/"
      style={StyleEnum.SECONDARY}
      text={translations.ERROR_404.LINK_NAME}
      icon={{ name: "tabler:home", side: SideEnum.RIGHT }}
    />
  </div>
</MainLayout>
