---
// Utils
import { formatBlogPosts, slugify } from "../ts/utils";

const allPosts = await Astro.glob("../pages/blog/*.md");
const formattedPosts = formatBlogPosts(allPosts);
const allCategories = formattedPosts
  .map((cat) => cat.frontmatter.category.toLowerCase())
  .flat();

const proccessedCats = allCategories.reduce((acc, category) => {
  // Check if the category exists
  const value = acc[category] || 0;

  return {
    ...acc,
    [category]: value + 1,
  };
}, {});

const { showCount } = Astro.props;
---

<ul class="categories">
  {
    Object.entries(proccessedCats).map(([key, val]) => (
      <li>
        <a href={`/category/${slugify(key)}`} class="badge">
          {key} {showCount && ` (${val})`}
        </a>
      </li>
    ))
  }
</ul>
