---
// Components
import { Icon } from "astro-icon";
---

<div class="rrss-container">
  <a href="https://github.com/esmerado" target="_blank">
    <Icon name="mdi:github" height="32" width="32" />
  </a>
  <a href="https://www.linkedin.com/in/javier-esmerado-vela/" target="_blank">
    <Icon name="mdi:linkedin" height="32" width="32" />
  </a>
</div>
